URxvt*termName: rxvt-256color
URxvt*xftAntialias: true
*background: #06202c
*foreground: #eeeeee
URxvt*cursorColor: #aaaaaa
URxvt*colorUL: #366060
URxvt*underlineColor: #115181
*color0: #0079aa
*color1: #1389b9
*color2: #2a95c9
*color3: #3fa5d6
*color4: #4890b8
*color5: #457b9d
*color6: #59b5de
*color7: #778e96
*color8: #71c8e5
*color9: #00658c
*color10: #5fa0c6
*color11: #0a5175
*color12: #2f5582
*color13: #012c43
*color14: #1d4262
*color15: #1f6b9a
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.font: xft:Go Mono:size=9
XTerm*allowBoldFonts: false
