URxvt*termName: rxvt-256color
URxvt*xftAntialias: true
*background: #292a28
*foreground: #eeeeee
URxvt*cursorColor: #aaaaaa
URxvt*colorUL: #366060
URxvt*underlineColor: #115181
*color0: #8fa9c0
*color1: #7a90a7
*color2: #6c7a87
*color3: #646965
*color4: #535655
*color5: #9fbed4
*color6: #484240
*color7: #323232
*color8: #847570
*color9: #8fa9c0
*color10: #7a90a7
*color11: #6c7a87
*color12: #646965
*color13: #535655
*color14: #9fbed4
*color15: #484240
URxvt.font: xft:Go Mono:size=9
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.scrollBar: false
URxvt.boldFont:
